
@model  IEnumerable<SportsPro.Models.IncidentViewModel>

@{

    ViewBag.Title = "Survey";
}

@using (Html.BeginForm("Survey", "Customer", FormMethod.Post, new { id = "TheForm" }))
{
    <div class="row">
        <label class="col-md-offset-1 col-md-3">Enter your customer ID:</label>
        <span class="col-md-4">@Html.TextBox("txtCustNumber") </span>@Html.ActionLink("Get Incidents", "GetIncidents", "Customer", null, new { @class = "btn btn-default myButtons2" })

    </div><br /><br />

    @Html.ListBox("ClosedIncidents")
    
        if (Model != null)
        {
        foreach (var item in Model)
        {

            if(item.CustomerID == ViewBag.CustomerId){
                //Still needed to figure out how to make a select list made of string with item ProductName, CloseDate and Description mixed in with the string 
                //so the customer could select the product to review
                //"Incident for product" + item.ProductName + " closed " + item.DateClosed + "(" + item.Description + ")" 
        }
        }

        }

  <br /><br />
    <div class="row">
        <label>Please rate this incident by the following categories:</label>
    </div>
    <div class="row">
        <label class="col-md-2">Response time:</label>
        <label>
            @Html.RadioButton("ResponseTime", 1, new { disabled = "disabled" })
            Not satisfied
        </label>
        <label>
            @Html.RadioButton("ResponseTime", 2, new { disabled = "disabled" })
            Somewhat satisfied
        </label>
        <label>
            @Html.RadioButton("ResponseTime", 3, new { disabled = "disabled" })
            Satisfied
        </label>
        <label>
            @Html.RadioButton("ResponseTime", 4, new { disabled = "disabled" })
            Completely satisfied
        </label>
    </div>

    <div class="row">
        <label class="col-md-2">Technical efficiency:</label>
        <label>
            @Html.RadioButton("TechEfficiency", 1, new { disabled = "disabled" })
            Not satisfied
        </label>
        <label>
            @Html.RadioButton("TechEfficiency", 2, new { disabled = "disabled" })
            Somewhat satisfied
        </label>
        <label>
            @Html.RadioButton("TechEfficiency", 3, new { disabled = "disabled" })
            Satisfied
        </label>
        <label>
            @Html.RadioButton("TechEfficiency", 4, new { disabled = "disabled" })
            Completely satisfied
        </label>
    </div>

    <div class="row">
        <label class="col-md-2">Problem resolution:</label>
        <label>
            @Html.RadioButton("Resolution", 1, new { disabled = "disabled" })
            Not satisfied
        </label>
        <label>
            @Html.RadioButton("Resolution", 2, new { disabled = "disabled" })
            Somewhat satisfied
        </label>
        <label>
            @Html.RadioButton("Resolution", 3, new { disabled = "disabled" })
            Satisfied
        </label>
        <label>
            @Html.RadioButton("Resolution", 4, new { disabled = "disabled" })
            Completely satisfied
        </label>
    </div>

        <div class="row">
            <label class="col-md-2">Additional comments:</label><textarea></textarea>
        </div>
        <div class="row">
            <label class="col-md-3">
                @Html.CheckBox("Contact", false, new { disabled = "disabled" })
                Please contact me to discuss this incident
            </label>
        </div>
        <div class="row">
            <label class="col-md-offset-1 col-md-2">
                @Html.RadioButton("ContactMethod", "Email", new { disabled = "disabled" })
                Contact by email
            </label>
        </div>
        <div class="row">
            <label class="col-md-offset-1 col-md-2">
                @Html.RadioButton("ContactMethod", "Phone")
                Contact by phone
            </label>
        </div>
        <div class="row">
            @Html.ActionLink("Submit", "ExportToCSV", null, new { @class = "btn btn-default myButtons2" })

        </div>







}
