@model SportsPro.Models.IncidentViewModel
@{
    ViewBag.Title = "Test";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Test</h2>
@if (Model != null) {
    <ul class="list-group">
        <li class="list-group-item active">Incident Information</li>
        <li class="list-group-item active">Customer ID: @Model.CustomerID</li>
        <li class="list-group-item active">Product: @Model.ProductCode</li>
        <li class="list-group-item active">Tech: @Model.TechID</li>
        <li class="list-group-item active">Opened: @Model.DateOpened.ToShortDateString()</li>
        <li class="list-group-item active">Closed: @Model.DateClosed.Value.ToString("MM'/'dd'/'yyyy")</li>
        <li class="list-group-item active">Incident: @Model.Description</li>
    </ul>

}

