@{
    ViewBag.Title = "Index";
}
@using (Html.BeginForm("Index", "Administration", FormMethod.Post, new { id = "TheForm" }))
{
    <div class="row">
        <label class="col-md-offset-1 col-md-3">Select a customer:</label>
        <span class="col-md-4">@Html.DropDownList("ddlCustomers", (SelectList)ViewBag.Customers, new { onchange = "this.form.submit();" }) </span>
    </div><br /><br />

    <div class="row">
        <label class="col-md-offset-1 col-md-3">Address:</label>
        <span class="col-md-4">@Html.Label("lblAddress", (string)ViewBag.Address)</span>
    </div>
    <div class="row">
        <span class="col-md-offset-4 col-md-4 ">@Html.Label("lblAddress2", (string)(ViewBag.City + ", " + ViewBag.State + " " + ViewBag.Zip))</span>
    </div>
    <div class="row">
        <label class="col-md-offset-1 col-md-3">Phone:</label>
        <span class="col-md-4">@Html.Label("lblPhone", (string)ViewBag.Phone)</span>
    </div>
    <div class="row">
        <label class="col-md-offset-1 col-md-3">Email:</label>
        <span class="col-md-4">@Html.Label("lblEmail", (string)ViewBag.Email)</span>
    </div><br />
    <div class="row">
        <button class="myButtons2 col-md-offset-1 col-md-2" onclick="location.href='@Url.Action("AddContact", "Administration")';return false;">Add to Contact List</button>
        <button class="myButtons2 col-md-offset-1 col-md-2" onclick="location.href='@Url.Action("ContactList", "Administration")';return false;">Display Contact List</button>
    </div>
}
